# ENV (WAJIB)
.env
.env.*
!.env.example

# Laravel
/vendor
/node_modules
/public/storage
/storage/*
!/storage/app/public
/bootstrap/cache/*.php

# React / Build
/build
/dist
/public/build
/public/hot

# Logs
*.log

# IDE / Editor
.vscode
.idea
.fleet
.zed

# OS
.DS_Store
Thumbs.db

# Laravel misc
.phpunit.result.cache
.phpactor.json
.auth.json

# Keys
*.pem
*.key
